:root {
  --0c619f: 0 0% 100%;
  --a79865: 240 10% 3.9%;

  --2260c0: 0 0% 100%;
  --d5f776: 240 10% 3.9%;

  --05a9d5: 0 0% 100%;
  --8b0f6a: 240 10% 3.9%;

  --b21a72: 240 5.9% 10%;
  --1ed73f: 0 0% 98%;

  --5862e2: 240 4.8% 95.9%;
  --27ebfb: 240 5.9% 10%;

  --612fb3: 240 4.8% 95.9%;
  --ffe7c2: 240 3.8% 46.1%;

  --608d51: 240 4.8% 95.9%;
  --2dbc8a: 240 5.9% 10%;

  --8ea160: 0 84.2% 60.2%;
  --4a9042: 0 0% 98%;

  --7eb3e9: 240 5.9% 90%;
  --43c997: 240 5.9% 90%;
  --9858b0: 240 10% 3.9%;

  --587c7e: 0.5rem;
}

.dark {
  --0c619f: 240 10% 3.9%;
  --a79865: 0 0% 98%;

  --2260c0: 240 10% 3.9%;
  --d5f776: 0 0% 98%;

  --05a9d5: 240 10% 3.9%;
  --8b0f6a: 0 0% 98%;

  --b21a72: 0 0% 98%;
  --1ed73f: 240 5.9% 10%;

  --5862e2: 240 3.7% 15.9%;
  --27ebfb: 0 0% 98%;

  --612fb3: 240 3.7% 15.9%;
  --ffe7c2: 240 5% 64.9%;

  --608d51: 240 3.7% 15.9%;
  --2dbc8a: 0 0% 98%;

  --8ea160: 0 62.8% 30.6%;
  --4a9042: 0 0% 98%;

  --7eb3e9: 240 3.7% 15.9%;
  --43c997: 240 3.7% 15.9%;
  --9858b0: 240 4.9% 83.9%;
}

.dark::after {
  --51500e: 0 0% 100%;
}

*,
::after,
::before {
  --51500e: 0 0% 100%;
}
