:root {
  --e0e228: 0 0% 100%;
  --975021: 240 10% 3.9%;

  --510e7f: 0 0% 100%;
  --3789df: 240 10% 3.9%;

  --96d260: 0 0% 100%;
  --bdfe65: 240 10% 3.9%;

  --495c94: 240 5.9% 10%;
  --1bc6fa: 0 0% 98%;

  --49aa1e: 240 4.8% 95.9%;
  --82b080: 240 5.9% 10%;

  --9a7325: 240 4.8% 95.9%;
  --800ecb: 240 3.8% 46.1%;

  --1aac0f: 240 4.8% 95.9%;
  --05eac6: 240 5.9% 10%;

  --759061: 0 84.2% 60.2%;
  --e46278: 0 0% 98%;

  --ff650f: 240 5.9% 90%;
  --f6f4b6: 240 5.9% 90%;
  --88448c: 240 10% 3.9%;

  --93d814: 0.5rem;
}

.dark {
  --e0e228: 240 10% 3.9%;
  --975021: 0 0% 98%;

  --510e7f: 240 10% 3.9%;
  --3789df: 0 0% 98%;

  --96d260: 240 10% 3.9%;
  --bdfe65: 0 0% 98%;

  --495c94: 0 0% 98%;
  --1bc6fa: 240 5.9% 10%;

  --49aa1e: 240 3.7% 15.9%;
  --82b080: 0 0% 98%;

  --9a7325: 240 3.7% 15.9%;
  --800ecb: 240 5% 64.9%;

  --1aac0f: 240 3.7% 15.9%;
  --05eac6: 0 0% 98%;

  --759061: 0 62.8% 30.6%;
  --e46278: 0 0% 98%;

  --ff650f: 240 3.7% 15.9%;
  --f6f4b6: 240 3.7% 15.9%;
  --88448c: 240 4.9% 83.9%;
}
