:root {
  --24d02b: 0 0% 100%;
  --7d11a3: 240 10% 3.9%;

  --f731f7: 0 0% 100%;
  --d1b70b: 240 10% 3.9%;

  --1f2511: 0 0% 100%;
  --939f83: 240 10% 3.9%;

  --b55b78: 240 5.9% 10%;
  --98220e: 0 0% 98%;

  --368138: 240 4.8% 95.9%;
  --9b8cb4: 240 5.9% 10%;

  --f144a8: 240 4.8% 95.9%;
  --f2618a: 240 3.8% 46.1%;

  --300ff4: 240 4.8% 95.9%;
  --5c9265: 240 5.9% 10%;

  --e2aa59: 0 84.2% 60.2%;
  --a96787: 0 0% 98%;

  --657c09: 240 5.9% 90%;
  --3b905c: 240 5.9% 90%;
  --dfe724: 240 10% 3.9%;

  --9e6800: 0.5rem;
}

.dark {
  --24d02b: 240 10% 3.9%;
  --7d11a3: 0 0% 98%;

  --f731f7: 240 10% 3.9%;
  --d1b70b: 0 0% 98%;

  --1f2511: 240 10% 3.9%;
  --939f83: 0 0% 98%;

  --b55b78: 0 0% 98%;
  --98220e: 240 5.9% 10%;

  --368138: 240 3.7% 15.9%;
  --9b8cb4: 0 0% 98%;

  --f144a8: 240 3.7% 15.9%;
  --f2618a: 240 5% 64.9%;

  --300ff4: 240 3.7% 15.9%;
  --5c9265: 0 0% 98%;

  --e2aa59: 0 62.8% 30.6%;
  --a96787: 0 0% 98%;

  --657c09: 240 3.7% 15.9%;
  --3b905c: 240 3.7% 15.9%;
  --dfe724: 240 4.9% 83.9%;
}

.dark::after {
  --2de62b: 0 0% 100%;
}

*,
::after,
::before {
  --2de62b: 0 0% 100%;
}
